# デフォルトの無視ファイル
/shelf/
/workspace.xml
# データソースのローカルストレージがファイルを無視しました
/../../../../../../:\Users\yadohisa\CLionProjects\at-coder\.idea/dataSources/
/dataSources.local.xml
# エディターベースの HTTP クライアントリクエスト
/httpRequests/
